.container {
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.wishlist {
    width: 350px;
    height: 350px;
    border: var(--border);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    box-shadow: var(--box-shadow);
    overflow-y: auto;
    animation: appear 200ms;
}

.remove {
    animation: disappear 200ms;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes disappear {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}